<% @creatures.each do |creature| %>

	<div class="monster">
		<h2>Name: <%= creature.name %></h2>
		<p>Description: <%= creature.description %></p>
		<%= button_to "Delete", creature, method: :delete, :class => "btn btn-default" %>
	</div>

<% end %>