<div class="monster">
	<h2>Name: <%= @creature.name %></h2>
	Description: <%= @creature.description %><br>
	<a href="/creatures/<%= @creature.id %>/edit" class="btn btn-default">Edit Monster</a>
</div>