/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

html { 
  background: url(http://media.wizards.com/images/magic/daily/arcana/956_isd_Swamp2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background-color: transparent !important;
	font-family: 'Creepster', cursive !important;
	color: chartreuse !important;
	font-size: 25px !important;
}

.header {
	display: inline;
}

div.header-div {
	margin-top: 100px;
    margin-bottom: 100px;

}

div.monster {
	margin-top: 35px;
	margin-bottom: 35px;
}

ul {
	float: right;
	margin: 0, 15px;
}

a {
	color: chartreuse !important;
	padding-left: 25px;
}

h1 {
	font-size: 50px !important;
}

h2 {
	font-size: 40px !important;
}

input {
  background-color : gray; 
}

textarea {
  background-color : gray; 
}
