<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>BogApp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <link href='https://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container">

			<ul>
				<a href="/">Monsters</a>
				<a href="/creatures/new">New Monster</a>
				<a href="/creatures/:id">Random Encounter</a>
			</ul>
			<h1>Bog App  <small>Swamp Encounters</small></h1>
			

			<%= yield %>

		</div>
	</body>
</html>
